#for rewrite no www domain
#RewriteCond %{HTTP_HOST} ^ci.test.com [NC]
#RewriteRule ^(.*)$ http://ci.test.com/$1 [L,R=301]
#for rewrite no www domain

RewriteEngine on
RewriteCond $1 !^(index\.php|admin\.php|Static|Uploads)
RewriteRule ^(.*)$ index.php/$1 [L]